

@keyframes fadeEffectIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeEffectOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideTitle {
  0% {
    opacity: 1;
    max-height: 200px;
  }
  100% {
    opacity: 0;
    max-height: 0px;
  }
}

@keyframes showTitle {
  0% {
    opacity: 0;
    max-height: 0px;
  }
  100% {
    opacity: 1;
    max-height: 200px;
  }
}


@keyframes slideIn {
  0% {
    margin-left: (-1 * $sidebarWidth);
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes slideOut {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: (-1 * $sidebarWidth);
  }
}

@keyframes heightAnimation {
  0% {
    max-height: 0px;
    opacity: 0;
    padding: 0;
  }
  20% {
    padding: auto;
  }
  100% {
    max-height: 800px;
    opacity: 100;
  }
}

@keyframes toggleAnim {
  0% {
    left: 3%;
  }
  100% {
    left: 18%;
  }
}

@keyframes toggleAnimOff {
  0% {
    left: 18%;
  }
  100% {
    left: 3%;
  }
}

@keyframes message {
  0% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  20% {
    opacity: 1;
    transform: translate(0px, -36px);
  }
  60% {
    opacity: 1;
    transform: translate(0px, -36px);
  }
  99% {
    opacity: 0;
    transform: translate(0px, -36px);
  }
  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
}

@keyframes toggleFeaturedOn {
  0% {
    max-height: 0;
    opacity: 0;
    margin-bottom: 0px;
  }
  100% {
    max-height: $featuredHeight;
    opacity: 1;
    margin-bottom: 20px;
  }
}

@keyframes toggleFeaturedOff {
  0% {
    max-height: $featuredHeight;
    opacity: 1;
    margin-bottom: 20px;
  }
  100% {
    max-height: 0px;
    opacity: 0;
    margin-bottom: 0px;
  }
}

@keyframes changeBg {
  0% {
    //background-color: rgba(0,0,0,1);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}

@keyframes glitch1 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes switchBg1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes switchBg2 {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes glitch3 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes glitchIcon {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glitchIcon2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
